<div (mouseleave)="onMouseLeave()" class="w-full h-full p-0 m-0 rounded-none">
    <div class="w-full h-1/2 bg-green-500">
        <img class="w-full h-full" [src]="data.thumbnailImg" alt="">
    </div>
    <div class="w-full h-1/2 p-4 bg-neutral-900 flex flex-col justify-between">

        <div class="flex justify-between items-center">
            <div class="flex items-center">
                <a href="" class="mr-2 w-[30px] h-[30px] flex items-center justify-center"><i class="fa-solid fa-circle-play text-3xl text-white"></i></a>
                <a (click)="addMovieToMyList(data._id)" class="mr-2 w-[30px] h-[30px] flex items-center justify-center border border-white rounded-full"><i class="fa-solid fa-plus text-white"></i></a>
                <a href="" class="w-[30px] h-[30px] flex items-center justify-center border border-white rounded-full"><i class="fa-regular fa-thumbs-up text-white"></i></a>
            </div>
            <div>
                <i class="fa-solid fa-chevron-down text-white text-2xl"></i>
            </div>
        </div>

        <div>
            <span class="text-green-600">99% Match</span>
            <div>
                <span class="text-white border mr-2">{{data.certification}}</span>
                <span class="text-white mr-2">{{data.duration}}</span>
                <span class="text-white border">{{data.quality}}</span>
            </div>
        </div>

        <div class="flex items-center">
            <span *ngFor="let genre of data.genres;let i = index;" class="text-white mr-1">
                {{genre}}
                <span *ngIf="i!=(data.genres.length-1)">&#x2022;</span>
            </span>
        </div>

    </div>
</div>