<div class="min-h-screen bg-neutral-900">
    <section class="bg-neutral-900 min-h-screen">
        <app-header></app-header>
        <div class="w-full h-full px-16 relative top-20">
            <h2 class="text-white text-3xl">My List</h2>
            <div class="slider flex flex-wrap py-20">
                <div *ngFor="let data of movies;let i = index" class="w-1/6 h-[140px] p-2 pl-0 hover:cursor-pointer overflow-hidden">
                    <img (mouseenter)="onMouseEnter(data._id,data)" (mouseleave)="onMouseLeave()" class="w-full h-full rounded img" [src]="data.movieId.thumbnailImg" alt="" id="{{data._id}}">
                </div>
            </div>
        </div>
    </section>
    
    <section class="w-full h-72 flex justify-center absolute botton-0 bg-neutral-900">
        <app-footer class="w-full"></app-footer>
    </section>
</div>