<section class="relative bg-black">
    <img class="opacity-30 w-full h-full" src="../../../assets/images/queen.jpg" alt="">
    <header>
        <div class="absolute top-5 w-full flex justify-between items-center px-14">
            <img class="w-40 h-auto" src="../../assets/images/logo.png" alt="">
            <div class="">
                <button
                    routerLink="/login"
                    class="text-red-600 hover:underline font-semibold py-2 px-4 hover:border-transparent rounded ml-3">
                    Sign In
                </button>
            </div>
        </div>
    </header>

    <div class="w-full flex justify-center absolute top-40">
        <div class="w-[30%] bg-slate-100 p-12">
            <h2 class="text-3xl font-bold">Forgot Email/Password</h2>
            <p class="py-3">How would you like to reset your password?</p>
            <div class="flex items-center pb-1 pl-5">
                <input class="w-5 h-5 mr-3" type="radio" name="verificationMethod" [(ngModel)]="verificationMethod" id="email" value="email">
                <label for="">Email</label>
            </div>
            <div class="flex items-center pl-5">
                <input class="w-5 h-5 mr-3" type="radio" name="verificationMethod" [(ngModel)]="verificationMethod" id="phone" value="phone">
                <label for="">Text Message (SMS)</label>
            </div>
            
            <div class="mt-4" *ngIf="verificationMethod=='email'">
                <p>We will send you an email with instruction on how to reset your password.</p>
                <input class="w-full p-2 rounded-sm my-5 border border-gray-500" type="email" name="" [(ngModel)]="email" id="email" placeholder="name@example.com">
                <button class="bg-blue-500 w-full p-2 text-white rounded-sm" (click)="emailMe()">Email Me</button>
            </div>
            <div *ngIf="verificationMethod=='phone'">
                <p>We will text you a varification code to reset your password. Message and data rates may apply.</p>
                <input class="w-full p-2 rounded-sm my-5 border border-gray-500" type="number" name="" [(ngModel)]="phone" id="phone">
                <button class="bg-blue-500 w-full p-2 text-white rounded-sm" (click)="textMe()">Text Me</button>
            </div>

            <div class="py-8">
                <a class="text-blue-600 hover:underline" href="">I can't remember my email address or phone number.</a>
            </div>
        </div>
    </div>

    <div class="w-full h-72 absolute bottom-0 left-0 footer flex justify-center">
        <div class="w-4/5 text-gray-400 p-12 text-xs">
            <span class="block py-4">Questions? Call 000-800-919-1694</span>
            <div class="flex justify-between w-full py-4">
                <span class="w-1/4">FAQ</span>
                <span class="w-1/4">Help Centre</span>
                <span class="w-1/4">Terms of Use</span>
                <span class="w-1/4">Privacy</span>
            </div>
            <div class="flex justify-between w-full py-4">
                <span class="w-1/4">Cookie Preferences</span>
                <span class="w-1/4">Corporate Information</span>
                <span class="w-1/4"> </span>
                <span class="w-1/4"> </span>
            </div>
            <select class="bg-transparent p-2 border border-gray-400" name="" id="">
                <option value="" selected><i class="fa-solid fa-globe"></i>English</option>
                <option value=""><i class="fa-solid fa-globe"></i>Hindi</option>
            </select>
        </div>
    </div>
</section>

