.img{
    transition: 0.5s all ease-in-out;
}

.img:hover{
    transform: scale(1.5);
}

.slider {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.slider::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.root-slider:hover .sliderBtn{
    display: block;
    background-color: rgba(0, 0, 0, 0.437);
}

.mat-dialog-container{
    padding: 0px;

    /* Add more styles */
}

.input-icons i {
    position: absolute;
}
 
.input-icons {
    overflow: hidden;
    width: 10%;
    transition: all 0.5s;
}
 
.icon {
    padding-left: 10px;
    min-width: 40px;
}
 
.input-field {
    width: 100%;
    padding: 7px;
    color: white;
    padding-left: 25%;
    background-color: transparent;

}

.slider-main:hover .inner-div i{
    display: inline-block;
}

.outer-div:hover .inner-div{
    transition: all 0.5s ease-in;
    left: 4px;
}

.movie-section{
    box-shadow: 20px 0px 0px 0px rgb(25, 25, 25);
}

// .sliderBtn{
//     display: none;
// }

.shadow-box{
    box-shadow: 0px 18px 105px 131px #00000024
}

article{
	background: #ddd;
	width: 100%;
	position: relative;
	padding: 20px;
	box-sizing: border-box;
	border-radius: 10px;
}

article .line{
	width: 100%;
	height: 20px;
	background: #bbb;
	margin: 20px 0;
	border-radius: 5px;
}

.shimmer{
	position: absolute;
	top: 0;
	left: 0;
	width: 80%;
	height: 100%;

	background: linear-gradient(100deg,
	rgba(255,255,255,0) 20%,
	rgba(53, 51, 51, 0.5) 50%,
	rgba(255,255,255,0) 80%);

	animation: shimmer 2s infinite linear;
}

@keyframes shimmer{
	from {
		transform: translateX(-200%);
	}
	to{
		transform: translateX(200%);
	}
}

.speaker{
	background-color: rgba(0, 0, 0, 0.46);
	color: white;
	border: 2px solid white;
}

.certificate{
	background-color: rgba(0, 0, 0, 0.46);
	border-left: 2px solid white;
}